@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

div{
  display: flex;
  justify-content: center;
  align-self: center;
}




@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: #131e57;
  @media screen and (-width: 400px) {
}
}



h1 {
  font-family: "SF Distant Galaxy";
  color:yellow;
  display: flex;
  justify-content: center;
}



/* computer */
@media screen and (min-width: 600px) {

  }

a{
  align-items: flex;
  color:  yellow;
}

